{% extends "_templates/default.html" %}

{% block content %}
    {% if archive %}
        {% for list in archive %}
            <div class="year">
                <h3>{{ list.year }}</h3>
                {% if list.months and list.months.length %}
                    {{ displayMonths(list.months) }}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% macro displayMonths(monthsData) %}
    {% for month in monthsData %}
        <div class="month-wrapper">
            <h4 class="month-name">{{ month.name }}</h4>
            {{ postsList(month.data, 'month') }}
        </div>
    {% endfor %}
{% endmacro %}

{% macro postsList(postsList, classPrefix) %}
    {% set classPrefix = classPrefix | default('posts') %}
    <ul class="{{ classPrefix }}-list">
        {% for post in postsList %}
            <li class="{{ classPrefix }}-list-item">
                <a class="{{ classPrefix }}-list-link" href="/{{ post.path }}">
                    {{ post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
