{% extends "_templates/default.html" %}

{% block page_css %}
    <link rel="stylesheet" href="{{ site.assetsRoot }}css/pages/archives.css" />
{% endblock %}

{% block content %}
    {% if archive %}
        {% for list in archive %}
            <div class="year-group">
                <h2 class="year-group-header">{{ list.year }}</h2>
                {% if list.months and list.months.length %}
                    {{ displayMonths(list.months) }}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% macro displayMonths(monthsData) %}
    {% for month in monthsData %}
        <div class="month-group">
            <h3 class="month-group-header">{{ month.name }}</h3>
            {{ postsList(month.data, 'month-group') }}
        </div>
    {% endfor %}
{% endmacro %}

{% macro postsList(postsList, classPrefix) %}
    {% set classPrefix = classPrefix | default('posts') %}
    <ul class="{{ classPrefix }}-list">
        {% for post in postsList %}
            <li class="{{ classPrefix }}-list-item">
                <a class="{{ classPrefix }}-list-link" href="/{{ post.path }}">
                    {{ post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
