{% extends "_templates/default.html" %}

{% block site_header %}
    {{ main_header(site, 'h2') }}
{% endblock %}

{% block content %}
    <div class="pure-g">
        <header class="pure-u-1 post-header">
            <h1 class="tk-museo-sans post-title">{{ title }}</h1>
            {% if publishDate and modifiedDate %}
                <time datetime="{{ publishDate }}" class="tk-museo-sans post-publish-date">{{ publishDate }}</time>
                <time datetime="{{ modifiedDate }}" class="tk-museo-sans post-modified-date">{{ modifiedDate }}</time>
            {% elif post.date %}
                <time datetime="{{ date }}" class="tk-museo-sanas post-date">{{ date }}</time>
            {% endif %}
            <a href="#" rel="author" class="post-author">{{ author }}</a>
        </header>
        <div class="pure-u-1-2">
            {{ contents | safe }}
        </div>
    </div>
{% endblock %}
