{% extends "_templates/default.html" %}

{% block page_css %}
    <link rel="stylesheet" href="{{ site.assetsRoot }}css/pages/post.css" />
{% endblock %}

{% block site_header %}
    {{ main_header(site, 'h2') }}
{% endblock %}

{% block content %}
    <div class="pure-g">
        <header class="pure-u-1 post-header">
            <h1 class="tk-museo-sans post-title">{{ title }}</h1>
            {% if publishDate and modifiedDate %}
                <p class="post-date">
                    <span class="post-published">Published <time datetime="{{ publishDate }}" class="tk-museo-sans post-publish-date">{{ publishDate }}</time></span> /
                    <span class="post-last-modified">Last Modified <time datetime="{{ modifiedDate }}" class="tk-museo-sans post-last-modified-date">{{ modifiedDate }}</time></span>
                </p>
            {% elif post.date %}
                <p class="post-date">
                    <time datetime="{{ date }}" class="tk-museo-sanas post-datetime">{{ date }}</time>
                </p>
            {% endif %}
            <span rel="author" class="post-author">{{ author }}</span>
        </header>
        <div class="pure-u-1 post-content">
            {{ contents | safe }}
        </div>
    </div>
{% endblock %}
