//
// User: daletan
// Date: 5/30/15
// Time: 11:21 PM
// Copyright 1stdibs.com, Inc. 2015. All Rights Reserved.
//

body {
    background-color: $primary-bg-color;
    color: $primary-font-color;
    font-family: $primary-font-family;
    line-height: 1.2;
}

.page {
    margin: 0 auto;
    width: 80%;
}


