//
// User: daletan
// Date: 5/25/15
// Time: 1:30 PM
// Copyright 1stdibs.com, Inc. 2015. All Rights Reserved.
//


$main-bg-color: #21242b;
$main-font-color: #fff;
$main-link-color: #b19b57;
$main-link-color-hover: #fff;
