//
// User: daletan
// Date: 5/25/15
// Time: 1:31 PM
// Copyright 1stdibs.com, Inc. 2015. All Rights Reserved.
//

@import "variables";
@import "border-box";
@import "fonts/icons/icons";
@import "libs/pure/all";

body {
    background-color: $main-bg-color;
    color: $main-font-color;
    font-family: "Helvetic Neue", Helvetica, sans-serif;
}

.page {
    margin: 0 auto;
    width: 80%;
}


