//
// User: daletan
// Date: 6/11/15
// Time: 7:05 PM
// Copyright 1stdibs.com, Inc. 2015. All Rights Reserved.
//

.site-footer {
    border-top: 1px solid;
    padding: 20px 0;
}

.site-footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-footer-list-item {
    float: left;
    margin-right: 20px;
}

