//
// User: daletan
// Date: 5/30/15
// Time: 10:46 PM
// Copyright 1stdibs.com, Inc. 2015. All Rights Reserved.
//

.site-header { }

.site-header-link {

}

.site-header-tagline {
    font-weight: 500;
    position: relative;
    left: -10px;
}
