//
// User: daletan
// Date: 5/25/15
// Time: 1:30 PM
// Copyright 1stdibs.com, Inc. 2015. All Rights Reserved.
//

$primary-bg-color: #21242b;
$primary-font-color: #fff;
$primary-link-color: #b19b57;
$primary-link-color-hover: #fff;

$primary-contrast-color: #fff;
$primary-contrast-color-hover: #b19b57;

$primary-font-family: "Helvetic Neue", Helvetica, sans-serif;
